*{
    margin: 0px;
    padding: 0px;
    outline:1px solid pink;
}
.container{
    width: 150px;
    height: 400px;
}
.box1{
    width: 150px;
    height: 400px;
}
.box1{
    width: 150px;
    height: 400px;
}
.box1{
    width: 150px;
    height: 400px;
}
.box1{
    width: 150px;
    height: 400px;
}
.cat0{
    width: 150px;
    height: 400px;
}