*{
    margin: 0px;
    padding: 0px;
    outline:1px solid pink;
}
.container{
    width: 170px;
    height: 450px;
}
.box0{
    width: 150px;
    height: 400px;
    display: block;
}
.box1{
    width: 150px;
    height: 400px;
    display: block;
}
.box2{
    width: 150px;
    height: 400px;
    display: block;
}
.box3{
    width: 150px;
    height: 400px;
    display: block;
}
.box4{
    width: 150px;
    height: 400px;
    display: block;
}
.cat0{
    width: 150px;
    height: 400px;
}